apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-deployment
  namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
      labels:
        app: spring-app
    spec:
      initContainers:
        - name: wait-for-mysql
          image: busybox:1.28
          command: ['sh', '-c', 'until nc -z mysql-service 3306; do echo waiting for mysql; sleep 2; done;']
      containers:
        - name: spring-container
          image: ahmedkalboussi/student-app:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8089
          env:
            - name: SPRING_DATASOURCE_URL
              valueFrom:
                configMapKeyRef:
                  name: spring-config
                  key: SPRING_DATASOURCE_URL

            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: spring-config
                  key: SPRING_DATASOURCE_USERNAME

            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: spring-secret
                  key: SPRING_DATASOURCE_PASSWORD

            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: spring-config
                  key: SERVER_PORT

            - name: SERVER_SERVLET_CONTEXT_PATH
              valueFrom:
                configMapKeyRef:
                  name: spring-config
                  key: SERVER_SERVLET_CONTEXT_PATH
          readinessProbe:
            httpGet:
              path: /student/actuator/health
              port: 8089
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /student/actuator/health
              port: 8089
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
